body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}
header{
    background-color: rgba(57, 76, 107, 1);
}
header h1 {
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: white;
    padding: 40px 0px;
    text-transform: uppercase;
}
#mainWrapper h2 {
    margin-left: 50px;
    font-size: 28px;
    font-weight: 400;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}
th {
    padding: 20px 5px;
    min-width: calc((100vw - 200px) / 6);
    background-color: rgba(57, 76, 107, .5);
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}

tr:hover {
    background-color: rgba(34, 34, 34, .225);
}
td {
    padding: 10px 5px;
}
#emptyRow {
    background-color: rgba(57, 76, 107, .5);
}
.deleteEmployee {
    text-align:center;
}
.deleteEmployee button {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(177, 0, 33, .75);
    color: white;
    font-weight: 700;
}
.totalDisplayWrapper {
    text-align: right;
}
.totalDisplayWrapper h2 {
    padding-right: 50px;
}
