body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}
header{
    background-color: rgba(57, 76, 107, 1);
}
header h1 {
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: white;
    padding: 40px 0px;
    text-transform: uppercase;
}
#inputWrapper {
    max-width: 90vw;
    margin: 0 auto;
}
#inputWrapper h2 {
    text-transform: uppercase;
    font-weight: 400;
}
input {
    font-size: 16px;
    width: calc(85vw / 5);
    border-radius: 5px;
    border: 1px solid rgba(34, 34, 34, .5);
    padding: 10px 0px 10px 5px;
    box-sizing: border-box;
}
.error-border {
    border: 2px solid red;
}
#buttonWrapper {
    padding: 20px 0px;
    text-align: left;
}
#addEmployee {
    padding: 10px 50px;
    border-radius: 5px;
    background-color: rgba(61, 122, 59, .75);
    color: white;
    font-size: 16px;
}
#mainWrapper h2 {
    width: 90%;
    margin: 20px auto 10px auto;
    font-size: 28px;
    font-weight: 400;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
}
th {
    padding: 20px 5px;
    min-width: calc((100vw - 200px) / 6);
    background-color: rgba(57, 76, 107, .5);
    text-align: left;
    font-size: 22px;
    font-weight: 400;
}

tr:hover {
    background-color: rgba(34, 34, 34, .225);
}
td {
    padding: 10px 5px;
}
#emptyRow {
    background-color: rgba(57, 76, 107, .5);
}
.deleteEmployee {
    text-align:center;
}
.deleteEmployee button {
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: rgba(177, 0, 33, .75);
    color: white;
    font-weight: 700;
}
.totalDisplayWrapper {
    text-align: right;
}
.totalDisplayWrapper h2 {
    display: inline-block;
    padding: 25px 50px 25px 50px;
    margin: 25px;
    border-radius: 5px;
}
